* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #040924;
}

body, input, button {
    font-size: 1.6rem;
    line-height: 2rem;
}

body {
    background-color: #363636;
}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
}

.card {
    padding: 4.8rem 6.4rem 6.4rem;
    background-color: white;
    max-width: 42.8rem;
    margin-inline: auto;

    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 4rem;

    margin: 4rem 0;
}

form {
    display: flex;
    justify-content: center;
}

input {
    background-color: #DCE2E9;
    width: 100%;
    border: none;
    border-radius: 0.4rem 0 0 0.4rem;
    padding: 1.2rem;
}

button {
    border: none;
    border-radius: 0 .4rem .4rem 0;
    background-color: crimson;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 1.2rem;
}